{% extends 'index.html' %}


{% block content %}

     <div class="form_container">
        <form class="form email_for_reset_password">
            <h3>Восстановить пароль</h3>
            <input type="email" value="" placeholder="Почта" name="email" id="email" autocomplete="off" required>
            
            <button type="submit">Отправить</button>

            <div class="errors" hidden></div>
        </form>
     </div>

     <script>

        const errorsDiv = document.querySelector('.errors')

        errorsDiv.textContent = ''
        errorsDiv.hidden = true

        const sendButton = document.querySelector('button')

        sendButton.addEventListener('pointerdown', function onPointerdDown(event) {
                this.style.transform = 'scale(0.95)'
                this.style.boxShadow = 'none'
        }, { capture: true })

        sendButton.addEventListener('pointerup', function onPointerdUp(event) {
            this.style.transform = 'scale(1)'
            this.style.boxShadow = '1px 2px 5px 1px rgba(89, 58, 116, 0.573)'
        }, { capture: true })


        

        sendButton.addEventListener('click', async function onClick(event) {
            event.preventDefault()

            const email = document.getElementById('email').value.trim()

            const formData = new FormData()
            formData.append('email', email)

            const response = await fetch('/security/api/forgot_password', {
                method: 'POST',

                // body: formData,

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'email': email, 
                })                

            })

            

            if (response.ok) {
                errorsDiv.textContent = ''
                errorsDiv.hidden = true

                const data = await response.json()
                console.log(data)
                alert('✅ Отправили вам на почту ссылку для восстановления пароля')
            } else {
                const erorrs = await response.json()
                console.log(erorrs)
                alert('⛔️ Неверный адрес почты')
                errorsDiv.textContent = erorrs.detail
                errorsDiv.hidden = false
            }
        })

     </script>

{% endblock content %}
