{% extends 'index.html' %}


    {% block content %}


    <div class="form_container reset_password">

        <form class="form reset_password_form">
            <h3 data-user-id="{{id}}">Смена пароля</h3>
            
            <input type="text" value="" placeholder="новый пароль" name="new_password" id="new_password">
            <input type="text" value="" placeholder="повторите пароль" name="repeat_password" id="repeat_password">

            <button type="submit">Сохранить</button>
        
            <div class="errors" hidden></div>
        </form>
   


        <script>

            const submitButton = document.querySelector('button')
            const resetPasswordForm = document.querySelector('.form_container')
            const errorsDiv = document.querySelector('.errors')

            const url = new URL(window.location.href);
            const token = url.searchParams.get('token');

            resetPasswordForm.addEventListener('submit', async function onSubmit(event) {
                event.preventDefault()

                errorsDiv.hidden = true
                errorsDiv.textContent = ''

                const newPassword = document.getElementById('new_password').value.trim()
                const repeatPassword = document.getElementById('repeat_password').value.trim()

                if (newPassword != repeatPassword) {
                    errorsDiv.hidden = false
                    errorsDiv.textContent = 'Пароли не совпадают'
                }

                const payload = {
                    'token': token,
                    'new_password': newPassword,
                }

                const response = await fetch('/security/api/reset_password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(payload)
                })

                if (response.ok) {
                    alert('✅ Пароль успешно восстановлен')
                } else {
                    const errors = await response.json()
                    errorsDiv.hidden = false
                    errorsDiv.textContent = errors
                }

            })

        </script>
   
        {% endblock content %}