{% extends 'index.html' %}


    {% block content %}


    <div class="form_container change_password">

        <form class="form change_password_form">
            <h3 data-user-id="{{id}}">Смена пароля</h3>
            
            <input type="text" value="" placeholder="старый пароль" name="old_password" id="old_password">
            <input type="text" value="" placeholder="новый пароль" name="new_password" id="new_password">

            <button type="submit">Сохранить</button>
        
            <div class="errors" hidden></div>
        </form>



        <script>

            const submitButton = document.querySelector('button')
            const changePasswordForm = document.querySelector('.form_container')
            const errorsDiv = document.querySelector('.errors')

            changePasswordForm.addEventListener('submit', async function onSubmit(event) {
                event.preventDefault()

                const oldPassword = document.getElementById('old_password').value.trim()
                const newPassword = document.getElementById('new_password').value.trim()

                const payload = {
                    'current_password': oldPassword,
                    'new_password': newPassword,
                }

                const response = await fetch('/api/change-password', {
                    method: 'PATCH',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(payload),
                })


                if (response.ok) {
                    alert('✅ Пароль успешно изменен')
                    window.history.back()
                } else {
                    const errors = await response.json()
                    errorsDiv.textContent = errors.detail
                    errorsDiv.hidden = false
                }

            })

      

        </script>

    {% endblock content %}